version: '3.8'

services:
  backend:
    build: .
    container_name: coursework_backend
    ports:
      - "3000:3000"
    restart: always

  nginx:
    image: nginx:alpine
    container_name: coursework_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend